[core]
    excludesfile = ~/.gitignore
    ignorecase = false
    pager = delta

[color]
    ui = true

[delta]
    line-numbers=true
    navigate = true

[diff]
    indent-heuristic = true
    colorMoved = default

[interactive]
    diffFilter = delta --color-only

[user]
	name = MrSmart00
	email = nexearth@gmail.com

[merge]
    conflictstyle = diff3
